html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  display: flex;
  flex-direction: row;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v15/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPZ7YF8Gh249Vw4w.woff2) format('woff2');
}

@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Regular'), local('Bungee-Regular'), url(https://fonts.gstatic.com/s/bungee/v5/N0bV2SRONuN4Wx8kIjTp3w.woff2) format('woff2');
}

/* Apply the fonts */
body {
  font-family: 'Source Sans Pro', sans-serif;
}

nav .logo {
  font-family: 'Bungee', sans-serif;
}

/* Define fallback fonts */
body {
  font-family: 'Source Sans Pro', sans-serif;
}

nav .logo {
  font-family: 'Bungee', sans-serif;
}


main {
  width: 90%;
  margin: 0 auto;
  background-color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 75%; /* Set the width of the main container element */
  order: 2; /* Make the main container appear second in the source order */
  flex: 2;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }
}





